In [1]:
import os
import re
import pandas as pd

In [2]:
data = []

for file in os.listdir("PERCEPCIONES_2019"):
    if file.endswith(".txt"): 
        with open(os.path.join("PERCEPCIONES_2019", file)) as f:
            year = file[20:24]
            week = file[17:19]
            for line in f.readlines():
                if len(line) == 253:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{year}|{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [3]:
for file in os.listdir("PERCEPCIONES_2018"):
    if file.endswith(".txt"): 
        with open(os.path.join("PERCEPCIONES_2018", file)) as f:
            year = file[20:24]
            week = file[17:19]
            for line in f.readlines():
                if len(line) == 253:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{year}|{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [4]:
data[0]

['2019|01|7840|7.00|5.00|1143.52|462.91|60.00|60.00|257.02|367.56|673.86|0.00|326.72|0.00|0.00|0.00|0.00|0.00|0.00|0.00|0.00']

In [5]:
len(data)

18436

In [6]:
df = pd.DataFrame(data)

In [7]:
df2 = df[0].str.split('|', expand=True)

In [8]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2019,01,7840,7.00,5.00,1143.52,462.91,60.00,60.00,257.02,...,0.00,326.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2019,01,7505,7.00,5.00,721.00,173.04,60.00,60.00,143.04,...,0.00,206.00,0.00,500.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2019,01,6600,7.00,5.00,721.00,30.38,60.00,50.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2019,01,7685,7.00,5.00,721.00,30.38,60.00,60.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26.83,0.00,0.00
4,2019,01,7331,7.00,5.00,721.00,30.38,60.00,60.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [9]:
list_of_columns = ["año","sem","codigo","dias_pag","dias_lab","sueldo","comp","asist","transp","vales","te_dob","te_trip",
                  "desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac","grat_esp","util"]

In [10]:
df2.columns = list_of_columns

In [11]:
df2.head()

,año,sem,codigo,dias_pag,dias_lab,sueldo,comp,asist,transp,vales,...,desc_Lab,fest_lab,dominic,perc_grav,obj,aguin,vac,prim_vac,grat_esp,util
0,2019,01,7840,7.00,5.00,1143.52,462.91,60.00,60.00,257.02,...,0.00,326.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2019,01,7505,7.00,5.00,721.00,173.04,60.00,60.00,143.04,...,0.00,206.00,0.00,500.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2019,01,6600,7.00,5.00,721.00,30.38,60.00,50.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2019,01,7685,7.00,5.00,721.00,30.38,60.00,60.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26.83,0.00,0.00
4,2019,01,7331,7.00,5.00,721.00,30.38,60.00,60.00,120.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [12]:
df2 = df2[df2["dias_pag"] != "GLOBAL"] #este paso quita las filas de totales

In [13]:
for col in  df2.columns[0:21]:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [14]:
df2.head()

,año,sem,codigo,dias_pag,dias_lab,sueldo,comp,asist,transp,vales,...,desc_Lab,fest_lab,dominic,perc_grav,obj,aguin,vac,prim_vac,grat_esp,util
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,0.0,326.72,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,0.0,206.00,0.0,500.0,0.0,0.0,0.0,0.00,0.0,0.00
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,26.83,0.0,0.00
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00

In [15]:
df2.dtypes

año            int64
sem            int64
codigo         int64
dias_pag     float64
dias_lab     float64
sueldo       float64
comp         float64
asist        float64
transp       float64
vales        float64
te_dob       float64
te_trip      float64
desc_Lab     float64
fest_lab     float64
dominic      float64
perc_grav    float64
obj          float64
aguin        float64
vac          float64
prim_vac     float64
grat_esp     float64
util          object
dtype: object

In [20]:
df2.count()

año          18341
sem          18341
codigo       18341
dias_pag     18341
dias_lab     18341
sueldo       18341
comp         18341
asist        18341
transp       18341
vales        18341
te_dob       18341
te_trip      18341
desc_Lab     18341
fest_lab     18341
dominic      18341
perc_grav    18341
obj          18341
aguin        18341
vac          18341
prim_vac     18341
grat_esp     18341
util         18341
dtype: int64

In [17]:
df2.loc[df2["codigo"] == 8071]

,año,sem,codigo,dias_pag,dias_lab,sueldo,comp,asist,transp,vales,...,desc_Lab,fest_lab,dominic,perc_grav,obj,aguin,vac,prim_vac,grat_esp,util
5766,2019,31,8071,5.0,4.0,432.6,18.22,40.0,30.0,72.13,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
5950,2019,32,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6139,2019,33,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,128.75,0.0,51.5,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6334,2019,34,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6525,2019,35,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6713,2019,36,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
6900,2019,37,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
7088,2019,38,8071,7.0,5.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
7272,2019,39,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.00
7464,2019,40,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
7659,2019,41,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
7851,2019,42,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,206.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
8047,2019,43,8071,7.0,6.0,721.0,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [18]:
df2.to_csv("PERCEPCIONES_CLEAN.csv")